html,
body {
    margin: 0;
    height: 100%;
    font-family: 'Montserrat', sans-serif;
}

.main-page {
    background: linear-gradient(270deg, #A5DEFF 0%, #FCFEFE 100%);
}

.main-page-text-container {
    background: #FFFFFF;
    border-radius: 40px;
    padding-top: 60px;
    padding-left: 60px;
    padding-bottom: 60px;
    padding-right: 60px;
}

.main-page-button {
    background: #a4b0f8;
    border-radius: 8px;
    color: #1B1D1F;
    border: none;
    padding-top: 12px;
    padding-left: 24px;
    padding-bottom: 12px;
    padding-right: 24px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    cursor: pointer;
}

.wrapper {
    width: 1170px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.logo {
    margin-top: 32px;
    margin-bottom: 60px;
    height: 50px;
}

.main-page-description {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #1B1D1F;
    margin-bottom: 60px;
    margin-top: 0;
}

.main-page-title {
    font-weight: 600;
    font-size: 64px;
    line-height: 72px;
    color: #1B1D1F;
    margin-top: 0;
    margin-bottom: 0;
}

.main-page-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #1B1D1F;
    margin-top: 24px;
    margin-bottom: 32px;
}

.gus-facts {
    padding-top: 48px;
    padding-bottom: 100px;
    text-align: center;
}

.gus-facts-title {
    font-weight: 600;
    font-size: 48px;
    line-height: 72px;
    color: #1B1D1F;
    margin-bottom: 32px;
    margin-top: 0;
}

.tryzub {
    margin-bottom: 24px;
}

.gus-facts-description {
    width: 772px;
    margin: auto;
    margin-bottom: 24px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #1B1D1F;
}

.gus-facts-item-title {
    font-weight: 600;
    font-size: 24px;
    line-height: 24px;
    color: #1B1D1F;
    margin-bottom: 32px;
    margin-top: 8px;
}

.gus-facts-item-description {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #1B1D1F;
}

.form-section {
    background: linear-gradient(270deg, #A5DEFF 0%, #FCFEFE 100%);
    padding-top: 80px;
    padding-bottom: 80px;
}

.form-container {
    background: #FFFFFF;
    border-radius: 40px;
    padding-top: 32px;
    padding-left: 60px;
    padding-bottom: 60px;
    padding-right: 60px;
    width: 573px;
    margin: auto;
    text-align: center;
    box-sizing: border-box;
}

.form-title {
    font-weight: 600;
    font-size: 24px;
    line-height: 24px;
    color: #1B1D1F;
    margin-top: 32px;
    margin-bottom: 12px;
}

.form-field {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 24px;
}

.form-field-email {
    margin-bottom: 48px;
}

.form-field-label {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #1B1D1F;
    margin-bottom: 8px;
}

.form-description {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #1B1D1F;
    margin-bottom: 24px;
}

.form-field-input {
    height: 60px;
    width: 453px;
    border: 1px solid #005BBB;
    border-radius: 8px;
    padding-left: 8px;
    padding-right: 8px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #1B1D1F;
}

.form-btn {
    background: #a4b0f8;
    border-radius: 8px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    border: none;
    outline: none;
    padding-left: 24px;
    padding-top: 12px;
    padding-right: 24px;
    padding-bottom: 12px;
    cursor: pointer;
}

